 <div class="panel panel-primary">
    <br/>
        <div class="panel-heading">
            Quick Links
        </div>
        <br/>
        <div class="panel-body">
            <dd class="quick-links">
                {% for item in articles %}
                    <li class="link-item">
                        <a href="#"> {{ item.title_slug }} </a>
                    </li>
                {% endfor %}
                <!-- <li class="link-item">
                    <a href="#"> Today, growth in different media has produced the need for tailored and specialised </a>
                </li>
                <li class="link-item">
                    <a href="#"> Today, growth in different media has produced the need for tailored and specialised </a>
                </li>
                <li class="link-item">
                    <a href="#"> Today, growth in different media has produced the need for tailored and specialised </a>
                </li> -->
                
            </dd>
            
        </div>
    </div>
    <p> &nbsp; </p>
    <div class="panel panel-primary">
        <div class="panel-heading">
            Posts on twitter
        </div>
        <br/>
        <div class="panel-body">
            <dd class="quick-links">
                <li class="link-item">
                    <a href="#"> post 1 </a>
                </li>
                <li class="link-item">
                    <a href="#"> post 2 </a>
                </li>
                <li class="link-item">
                    <a href="#"> post 3</a>
                </li>
                <li class="link-item">
                    <a href="#"> post 4 </a>
                </li>
                <li class="link-item">
                    <a href="#"> post 2 </a>
                </li>
                <li class="link-item">
                    <a href="#"> post 3</a>
                </li>
                <li class="link-item">
                    <a href="#"> post 4 </a>
                </li>
                <li class="link-item">
                    <a href="#"> post 2 </a>
                </li>
                <li class="link-item">
                    <a href="#"> post 3</a>
                </li>
                <li class="link-item">
                    <a href="#"> post 4 </a>
                </li>
                
            </dd>
        </div>
    </div>