 <div class="panel panel-primary">
    <br/>
        <div class="panel-heading">
            Quick Links
        </div>
        <!-- <br/> -->
        <div class="panel-body">
            <dd class="quick-links">
                {% for item in articles %}
                    <li class="link-item">
                        <a href="{% url 'yadel_main:news-details' item.pk item.title_slug %}"> {{ item.title|title }} </a>
                    </li>
                {% endfor %}
            </dd>
        </div>
    </div>
    <!-- <p> &nbsp; </p> -->
    <div class="panel panel-primary"> 
        <br/>
        <a class="twitter-timeline" href="https://twitter.com/Yadelmedia" data-widget-id="735866204297043968">Tweets by @Yadelmedia</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div>