{% extends 'yadel/base.html' %}
{% load staticfiles %}

{% block title %}News Room {% endblock title %}


{% block inner_content %}
{% with user=request.user %}

	<header id="head" class="secondary"></header>

	<!-- container -->
	<div class="container"> 

		<div class="row">
            <header class="page-header">
                {% if user.is_authenticated %}
                    <span class="pull-right"> Welcome | {{ user }} </span>
                {% endif %}
    			<h4 class="page-title">Posts From {{ user|title }}'s Archive </h4>
    		</header>
    	<section id="portfolio" class="page-section section appear clearfix">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                            <div class="col-md-8">

                                <!-- News Headlines -->
                                <div class="newsfeed">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <div class="thumbnail">
                                                <a href="{% url 'yadel_main:news-details' 'news-title' 'website-url-link' %}">
                                                    <img src="{% static 'images/person_1.png' %}" alt = "" />
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-md-10 news-title">
                                            <a href="{% url 'yadel_main:news-details' 'news-title' 'website-url-link' %}">
                                                <h4 class=""> This is the title of the new in view fo today</h4>
                                            </a>
                                            <div class="news-body text-justify">
                                                This is where the entire news content will reside for general perusal 
                                                This is where the entire news content will reside for general perusal This is where the entire news content will reside for general perusalThis is where the entire news content will reside for general perusal This reside for general perusalThis is where the entire news content will reside for general perusal
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Ends newsfeed  -->

                                
                                <!-- Ends newsfeed  -->
                                <br/><br/>
                                <div class="row">
                                    <a href="{% url 'yadel_main:create-article' %}">
                                        <span class="btn btn-default pull-right">create new publication </span>
                                    </a>
                                </div>
                                <br/>
                            </div>
                        <!-- </div> -->
                        <div class="col-md-4" role = "right panel"> 
                           {% include 'yadel/snippets/quicklinks-bar.html' %}
                        </div>
                    </div>
                </div>

            </div>
        </section>
   
		
		</div>
	</div>	<!-- /container -->
	{% endwith %}
{% endblock inner_content %}