{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport"    content="width=device-width, initial-scale=1.0">
<meta name="description" content="Yadel communications - PR Consulting experts">
<meta name="author" content="hypermatrixtechnologies.com">
<title>{% block title %}{% endblock title %} - Yadel Communications</title>
<link rel="favicon" href="{% static 'images/favicon.png' %}">
<link rel="stylesheet" media="screen" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700">
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">s
<!-- Custom styles for our template -->
<link rel="stylesheet" href="{% static 'css/bootstrap-theme.css' %}" media="screen" >
<link rel="stylesheet" type="text/css" href="{% static 'css/da-slider.css' %}" />
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="{% static 'css/custom.css' %}">

<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
	<script src="assets/js/html5shiv.js"></script>
	<script src="assets/js/respond.min.js"></script>
	<![endif]-->
</head>
<body>

<!-- Fixed navbar -->
 {% include 'yadel/partials/navbar.html' %}
<!-- /.navbar --> 
{% block inner_content %}
<!-- Header -->
<header id="head">
  <div class="container">
    <div class="banner-content">
      <div id="da-slider" class="da-slider">
        <div class="da-slide">
          <h2>MANAGEMENT</h2>
          <p>Amazing free responsive website for free</p>
          <div class="da-img"></div>
        </div>
        <div class="da-slide">
          <h2>PLANNING</h2>
          <p>Bootstrap mobile first front-end framework.</p>
          <div class="da-img"></div>
        </div>
        <div class="da-slide">
          <h2>MARKETING</h2>
          <p>HTML5/CSS3 used for structuring and presenting.</p>
          <div class="da-img"></div>
        </div>
        <div class="da-slide">
          <h2>REPORTS</h2>
          <p>jQuery: Write Less.. Do More..</p>
          <div class="da-img"></div>
        </div>
        <nav class="da-arrows"> <span class="da-arrows-prev"></span> <span class="da-arrows-next"></span> </nav>
      </div>
    </div>
  </div>
</header>
<!-- /Header --> 

<!-- Intro -->
<div class="container text-center sectionBox herotxt">
  <h2>Welcome!</h2>
  <p class="text-muted text-justify">Welcome to Yadel Communications, your one-stop shop for start-up public relations, advertising and general media services. We leverage our contacts and deep understanding of the African media landscape to help our clients, who are mostly start-ups, to reach both the online and offline media. At the moment, we cover Africa’s economic power houses: Nigeria, Ghana and Kenya. Our services extends to content writing, media buying and placement, including a strategic public relations services easily affordable by typical start-up’s to meet marketing needs.  </p>
</div>
<!-- /Intro--> 

<!-- Highlights - jumbotron -->
<div class="jumbotron sectionBox">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-6 highlight">
        <div class="h-caption">
          <h4><i class="fa fa-file-word-o fa-2x circle"></i>CONTENT WRITING</h4>
        </div>
        <div class="h-body text-center">
          <p>Yadel Communications boasts of one of the most competent content writing team in Africa with strategic affiliate partners of brand writers from different media across the three different markets that we operate in. Why not take advantage of our services today by reaching out to us for... <br/><br/>
            <a href="{% url 'yadel_main:services' 'content-writing' %}">
              <small class="text-white pull-right"> Read more </small>
            </a><!-- today by reaching out to us for your marketing content including product reviews, institutional branding, support features, etc.. --> </p>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 highlight">
        <div class="h-caption">
          <h4><i class="fa fa-bar-chart-o fa-2x circle"></i>PRESS RELEASE SYNDICATION</h4>
        </div>
        <div class="h-body text-center">
          <p>Yadel’s services also entail writing press releases and syndicating to our vast network of contacts across the markets we operate in. We know the platforms that will sell that your product and when exactly that content should be placed... <br/><br/>
            <a href="{% url 'yadel_main:services' 'press-release-syndication' %}">
              <small class="text-white pull-right"> Read more </small>
            </a>
          </p>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 highlight">
        <div class="h-caption">
          <h4><i class="fa fa-users fa-2x circle"></i>MEDIA RELATIONS CONSULTING</h4>
        </div>
        <div class="h-body text-center">
          <p>Today, growth in different media has produced the need for tailored and specialised handling of messages. Television, email, radio, print, social media name just a few of the areas companies have to be sure to have presence in. Each of these media 
          <br/><br/>
          <a href="{% url 'yadel_main:services' 'media-relations-consulting' %}">
              <small class="text-white pull-right"> Read more </small>
            </a>
          <!-- requires specific strategies and methods for effective communication to increase brand awareness and reputation and to build a community with current clients. So, at Yadel Communications, we sit down with clients to discuss key messages and determine strategies for optimum exposure. Understanding the nature and inner workings of each medium enable us to choose the most suitable medium for every single situation. And so, it would not be a bad idea to consult us when looking to engage the media for that marketing campaign. --></p>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 highlight">
        <div class="h-caption">
          <h4><i class="fa fa-file-word-o fa-2x circle"></i>GENERAL MEDIA SERVICES</h4>
        </div>
        <div class="h-body text-center">
          <p>Yadel Communications is a media services company and as such we do not just restrict our activities to media relations. We also help clients plan and implement branding strategies. So do you need a hand in printing those branding materials... 
          <br/><br/>
          <a href="{% url 'yadel_main:services' 'general-media-services' %}">
              <small class="text-white pull-right"> Read more </small>
            </a>
           <!-- product launch and activation, Yadel Communications’ services may just be what you need. We have got the best team to guarantee you aggressive and successful entry into the market.  -->
</p>
        </div>
      </div>
    </div>
    <!-- /row  --> 
    
  </div>
</div>
<!-- /Highlights -->
<section class="sectionBox">
  <div class="container">
    <div class="row">
      <div class='col-md-offset-2 col-md-8 text-center'>
        <h2>Testimonial</h2>
      </div>
    </div>
    <div class='row'>
      <div class='col-md-offset-2 col-md-8'>
        <div class="carousel slide" data-ride="carousel" id="quote-carousel"> 
          <!-- Bottom Carousel Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#quote-carousel" data-slide-to="0" class="active"></li>
            <li data-target="#quote-carousel" data-slide-to="1"></li>
            <li data-target="#quote-carousel" data-slide-to="2"></li>
          </ol>
          
          <!-- Carousel Slides / Quotes -->
          <div class="carousel-inner"> 
            
            <!-- Quote 1 -->
            <div class="item active">
              <blockquote>
                <div class="row">
                  <div class="col-sm-3 text-center"> <img class="img-circle" src="{% static 'images/person_1.png' %}" style="width: 100px;height:100px;"> </div>
                  <div class="col-sm-9">
                    <p>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit!</p>
                    <small>Someone famous</small> </div>
                </div>
              </blockquote>
            </div>
            <!-- Quote 2 -->
            <div class="item">
              <blockquote>
                <div class="row">
                  <div class="col-sm-3 text-center"> <img class="img-circle" src="{% static 'images/person_2.png' %}" style="width: 100px;height:100px;"> </div>
                  <div class="col-sm-9">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam auctor nec lacus ut tempor. Mauris.</p>
                    <small>Someone famous</small> </div>
                </div>
              </blockquote>
            </div>
            <!-- Quote 3 -->
            <div class="item">
              <blockquote>
                <div class="row">
                  <div class="col-sm-3 text-center"> <img class="img-circle" src="{% static 'images/person_3.png' %}" style="width: 100px;height:100px;"> </div>
                  <div class="col-sm-9">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut rutrum elit in arcu blandit, eget pretium nisl accumsan. Sed ultricies commodo tortor, eu pretium mauris.</p>
                    <small>Someone famous</small> </div>
                </div>
              </blockquote>
            </div>
          </div>
          
          <!-- Carousel Buttons Next/Prev --> 
          <a data-slide="prev" href="#quote-carousel" class="left carousel-control"><i class="fa fa-chevron-left"></i></a> <a data-slide="next" href="#quote-carousel" class="right carousel-control"><i class="fa fa-chevron-right"></i></a> </div>
      </div>
    </div>
  </div>
</section>
<section class="sectionBox">
<div class="container">
  <div class="heading"> 
    <!-- Heading -->
    <h2>About the Company</h2>
    <br/>
  </div>
  <div class="row">
    <div class="col-md-4"> <img src="{% static 'images/spotlight.jpeg' %}" alt="" class="img-responsive"> </div>
    <div class="col-md-8">
        <p class="text-justify">Yadel Communications is a media services company.  Our services include: Public relations, advertising and general media services. We leverage our contacts and deep understanding of the African media landscape to help our clients, who are mostly start-ups, to reach both the online and offline media. At the moment, we cover Africa’s economic power houses: Nigeria, Ghana and Kenya. Our services extends to content writing, media buying and placement, including a strategic public relations services easily affordable for typical start-up’s to meet marketing needs. 
  Over the past three years we have worked and implemented successful PR campaigns for companies such as VOD firm, Aflix, online retailer, Jumia.com, online drinks retailer, Drinks.ng, and an engineering firm, Tempohousing Nigeria.

  We have also undertaken offline media relations consultancy for Hotels.ng and Printivo.com during their 2015 press cycle and produced incredible results. 
  At the moment, we provide content writing and placement services for the Concept Group, which is the parent company of Concept Nova and Rosabon Financial Services. We also currently manage offline media relations services for S&T Media and venture capital firm, EchoVC and Partners.
 </p>
      <blockquote class="blockquote-1">
        <p>testimonial</p>
        <small>commenter <cite title="Source Title">Source Title</cite></small> </blockquote>
    </div>
  </div>
</div>
</section>
<!-- container -->

{% endblock inner_content %}

<footer id="footer" class="top-space">
  {% include 'yadel/partials/footer.html' %}
</footer>

<!-- JavaScript libs are placed at the end of the document so the pages load faster --> 
<script src="{% static 'js/modernizr-latest.js' %}"></script> 
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script> 
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script> 
<script src="{% static 'js/jquery.cslider.js' %}"></script> 
<script src="{% static 'js/headroom.min.js' %}"></script> 
<script src="{% static 'js/jQuery.headroom.min.js' %}"></script> 
<script src="{% static 'js/custom.js' %}"></script>


{% block scripts %}
{% endblock scripts %}
</body>
</html>