{% extends 'yadel/general/base.html' %}
{% load staticfiles %}

{% block title %}News Room {% endblock title %}


{% block inner_content %}
{% with user=request.user %}

	<header id="head" class="secondary"></header>

	<!-- container -->
	<div class="container"> 

		<div class="row">
            <header class="page-header">
                {% if user.is_authenticated %}
                    <span class="pull-right"> Welcome | {{ user }} </span>
                {% endif %}
    			<h4 class="page-title">Posts From {{ user|title }}'s Archive </h4>
    		</header>
    	<section id="portfolio" class="page-section section appear clearfix">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                            <div class="col-md-8">
                                {% for item in articles %}
                                <!-- News Headlines -->
                                    <div class="newsfeed">
                                        <div class="row">
                                            <div class="col-md-2">
                                                <div class="thumbnail">
                                                    <a href="{% url 'yadel_main:news-details' item.pk item.title_slug %}">
                                                        <img src="{{ item.pictures.url }}" alt = "{{ item.title }}" />
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="col-md-10 news-title">
                                                <a href="{% url 'yadel_main:news-details' item.pk item.title_slug %}">
                                                    <h4 class=""> {{ item.title|title }}</h4>
                                                </a>
                                                <div class="news-body text-justify">
                                                    {{ item.content|truncatewords:50 }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                                <!-- Ends newsfeed  -->

                                <div class="pagination text-center">
                                    {% if articles.has_previous %}
                                        <span class="btn btn-sm btn-info">
                                            <a href="?page={{ articles.previous_page_number}}"> Previous</a> 
                                        </span>
                                    {% endif %}
                                    <span class="current">
                                        Page {{ articles.number }} of {{ articles.paginator.num_pages }}.
                                    </span>
                                    {% if articles.has_next %}
                                        <span class="btn btn-sm btn-info">
                                            <a href="?page={{ articles.next_page_number }}">next</a>
                                        {% endif %}
                                        </span>
                                </div>

                                <br/><br/>
                                <div class="row">
                                    <a href="{% url 'yadel_main:create-article' %}">
                                        <span class="btn btn-default pull-right">create new publication </span>
                                    </a>
                                </div>
                                <br/>
                            </div>
                        <!-- </div> -->
                        <div class="col-md-4" role = "right panel"> 
                           {% include 'yadel/snippets/quicklinks-bar.html' with articles=articles %}
                        </div>
                    </div>
                </div>

            </div>
        </section>
   
		
		</div>
	</div>	<!-- /container -->
	{% endwith %}
{% endblock inner_content %}