{% extends 'yadel/base.html' %}
{% load staticfiles %}

{% block title %}{{ title }} {% endblock title %}


{% block inner_content %}


	<header id="head" class="secondary"></header>

	<!-- container -->
	<div class="container"> 

		<div class="row">
            <!-- <header class="page-header">
    			<h2 class="page-title">Some of our recent publications... </h2>
    		</header> -->
    	<section id="portfolio" class="page-section section appear clearfix">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                            <div class="col-md-8">
                                <!-- News Headlines -->
                                <div class="newsfeed">
                                    <div class="row">
                                        <div class="col-md-12 news-title">
                                            <!-- <a href="#"> -->
                                                <h3 class="text-bold"> This is the title of the new in view fo today</h3>
                                            <!-- </a> -->
                                            
                                                <iFRAME src="http://www.vanguardngr.com/2016/04/now-saraki-convicted-mob/"  frameborder = 0 height="450px" width="100%"></iFRAME>
                                                <p> &nbsp; </p>
                                                <div class="news-body text-justify">
                                                This is where the entire news content will reside for general perusal 
                                                This is where the entire news content will reside for general perusal This is where the entire news content will reside for general perusalThis is where the entire news content will reside for general perusal This reside for general perusalThis is where the entire news content will reside for general perusal
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Ends newsfeed  -->
                                <br/><hr/>
                                <div class="row">

                                    <div class="pull-right">
                                        <strong> Do you want us to publish articles for your company/organization?</strong> &nbsp;
                                        <a href="{% url 'yadel_main:create-article' %}">
                                            <span class="btn btn-default">Get started here </span>
                                        </a>
                                    </div>
                                </div>
                                <br/>
                            </div>
                        <!-- </div> -->
                        <!-- ends news feed feed  -->

                        <!-- Right panel -->
                        <div class="col-md-4" role = "right panel"> 
                           {% include 'yadel/snippets/quicklinks-bar.html' with articles=articles %}
                        </div>
                    </div>
                </div>

            </div>
        </section>
		</div>
	</div>	<!-- /container -->
	
{% endblock inner_content %}