{% extends 'yadel/general/base.html' %}
{% load staticfiles %}
{% load custom_template_tags %}

{% block title %}Admin Dashboard {% endblock title %}


{% block inner_content %}
    <header id="head" class="secondary"></header>
    <!-- container -->
    <div class="container"> 
        <div class="row">
            <header class="page-header">
                <div class="row">
                    <div class="col-sm-8">
                        <h3 style="margin:0px;">Publications Awaiting Action... </h3>
                    </div>
                    <div class="col-sm-4">
                        <small>Search articles by status</small>
                        <form id="article-search-form" action="{% url 'yadel_admin:admin-dashboard' status %}" method = "post">

                            {% csrf_token %}
                            <div class="col-sm-9" style="margin:0px; padding:0px;">
                                 <select name ="search-by-status" id = "search-by-status" class="form-control">
                                    <option value ="all">All</option>
                                    <option value ="new">New</option>
                                    <option value ="processing">Processing</option>
                                    <option value ="published">Published</option>
                                    <option value ="rejected">Rejected</option>
                                 </select>
                            </div>
                            <div class="col-sm-3" style="margin:0px;">
                                <button type="submit" name="search-articles" class="btn" style="padding: 6px 10px 6px 10px; background-color: #000000; color:#ffffff;"/><span class="glyphicon glyphicon-search"></span></button>
                            </div>
                        </form>
                    </div>
                </div>
            </header>
            <section id="portfolio" class="page-section section appear clearfix">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                                <div class="col-md-12">
                                    <table  class="table table-bordered table-striped table-hover table-responsive" >
                                        <thead style="background-color:#000000; color:#ffffff; border-color:#ffffff; font-size:13px;" >
                                            <th style="text-align: center">SN</th>
                                            <th style="text-align: center">TITLE</th>
                                            <th style="text-align: center">POSTED BY</th>
                                            <th style="text-align: center">MEDIA</th>
                                            <th style="text-align: center">EXTRACT</th>
                                            <th style="text-align: center">PUBLISH ONLINE</th>
                                            <th style="text-align: center">DATE POSTED</th>
                                            <th style="text-align: center">STATUS</th>
                                            <th style="text-align: center"></th>
                                        </thead>
                                        <tbody id="article_list">
                                            {% for item in submissions %}
                                                <tr>
                                                    <td>{{ forloop.counter }}</td>
                                                    <td><b>{{ item.title|title }}</b></td>
                                                    <td>{{ item.posted_by }}</td>
                                                    <td>{% for media in  item.id|get_post_media %} {{ media }} {% endfor %}</td>
                                                    <td>{{ item.content|truncatewords:15 }}</td>
                                                    <td>{% if item.publish_online %} Yes {% else %} No {% endif %}</td>
                                                    <td>{{ item.date_posted }}</td>
                                                    <td class = {{ item.status }} >{{ item.status|upper }}</td>
                                                    <td>{% if item.status == "new" %}
                                                            <a href="{% url 'yadel_admin:publish-article' item.pk 'send-to-media' %}" class="btn btn-success" style="padding:10px 14px 10px 14px;"/>Publish</a>
                                                        {% elif item.status == "processing" %}
                                                            <a href="{% url 'yadel_admin:publish-article' item.pk 'update' %}" class="btn btn-primary" style="padding:10px 14px 10px 14px;"/>Update</a> 
                                                        {% elif item.status == "published" %}
                                                          <span class="btn btn-warning" style="padding:10px"/> Published</span>
                                                        {% endif %}
                                                    </td>
                                                </tr>
                                            {% empty %}
                                                <tr><td colspan=9 >No submissions found </td></tr>
                                            {% endfor %}
                                            <!-- Ends newsfeed  -->
                                        </tbody>
                                    </table>
                                    <div class="pagination text-center">
                                        {% if submissions.has_previous %}
                                            <span class="btn btn-sm btn-info">
                                                <a href="?page={{ submissions.previous_page_number}}"> Previous</a> 
                                            </span>
                                        {% endif %}
                                        <span class="current">
                                            Page {{ submissions.number }} of {{ submissions.paginator.num_pages }}.
                                        </span>
                                        {% if submissions.has_next %}
                                            <span class="btn btn-sm btn-info">
                                                <a href="?page={{ submissions.next_page_number }}">next</a>
                                            {% endif %}
                                            </span>
                                    </div>
                                    <br/><br/>
                                    <!-- <div class="row">
                                        <a href="{% url 'yadel_main:create-article' %}">
                                            <span class="btn btn-default pull-right">submit publication </span>
                                        </a>
                                    </div> -->
                                    <br/>
                                </div>
                            <!-- </div> -->
                            
                        </div>
                    </div>

                </div>
            </section>
        </div>
    </div>  <!-- /container -->
    
{% endblock inner_content %}

{% block scripts %}
    // <script>
    //     $('body').on('submit', '#article-search-form', function(){
    //         var article_status = $("#search-by-status").find(":selected").val();
    //         var csrf_token = $('input[name="csrfmiddlewaretoken"]').val();
    //         // alert(csrf_token);
    //         // alert(article_status);


    //         $.ajax({
    //             type: "POST",
    //             url : "{% url 'yadel_admin:admin-dashboard' 'new' %}",
    //             data: {'article_status':article_status, 'csrfmiddlewaretoken':csrf_token},

    //             success: function(data){
    //                 alert("it worked");
    //                 $("#article_list").innerHTML(data);
    //             },
    //             error: function(data){
    //                 alert("it did not work");
    //             }
    //         })
    //     })
    // </script>

{% endblock scripts %}
{% block latest_news %}{% endblock latest_news %}


























