{% extends 'yadel/general/base.html' %}
{% load staticfiles %}

{% block title %}user manager {% endblock title %}


{% block inner_content %}
    <header id="head" class="secondary"></header>
    <!-- container -->
    <div class="container"> 
        <div class="row">
            <section id="portfolio" class="page-section section appear clearfix">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                                <div class="col-md-8">
                                    user manager
                                </div>
                            <!-- </div> -->
                        </div>
                    </div>

                </div>
            </section>
        </div>
    </div>  <!-- /container -->
{% endblock inner_content %}